// $primary-color: #25c849;
// $sub-color:

$primary-color: #00bfa5;
$dark-color: #008e76;
$light-color: #5df2d6;

$transparent-black: rgba(0, 0, 0, 0.5);
// $font-color: #ffffff;
$font: 'Roboto', sans-serif;

$dark-grey: #2a2a2b;
$normal-grey: #3e3e40;
$light-grey: #606063;
//
// $font-color: #E0E0E3;
$font-color: #E0E0E3;
