<mat-toolbar>
  <button mat-icon-button
          (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div id="logo-container">
    <img src="assets/images/full-logo.png"
         alt="logo">
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #snav
               mode="over"
               fixedTopGap="56">
    <mat-nav-list>
      <a mat-list-item
         *ngFor="let nav of navs"
         [ngClass]="isSelected(nav)"
         [routerLink]="nav.link"
         (click)="snav.close()">
        <mat-icon matListIcon>{{ nav.icon }}</mat-icon>
        <div matLine><span>{{ nav.title }}</span></div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
